<p>upload-image works!</p>
<form [formGroup]="formImage" (ngSubmit)="onSubmit()">
  <div>
    <label>
      File:
      <input type="file" (change)="onFileChange($event)" />
    </label>
  </div>
  <br />
  <div>
    <label>
      Name:
      <input type="text" formControlName="fileName" placeholder="Name of the file" />
      <p style="color: red; margin-top: 0px" *ngIf="formImage.controls['fileName']?.errors">Name must be a string !</p>
    </label>
  </div>
  <button type="submit">Send</button>
</form>

<app-preview [file]="file"></app-preview>
